<ion-view view-title="그리드뷰">
    <ion-content ng-init="init()" class="scroll-content ionic-scroll">
        <button class="button button-small button-calm" ng-click="triggerAPI(datasource)">Trigger API</button>
        <dl-grid-view style="display:block;width:1100px;height:350px;margin-left:22px;margin-bottom:8px;" row-source="rs" dom="{{dom}}">
            <dl-grid-columns>

<!--                 <dl-column-group name="ProductGroup"width="100" layout="vertical" header="제품" hidden-child-footers="true">
                    <dl-data-column name="ProductID" field-name="product_id" header="제품코드" width="120" grid-styles="{textAlignment:'center'}">
                    </dl-data-column>

                    <dl-data-column name="ProductName" field-name="product_name" width="80" grid-styles="{textAlignment:'center'}">
                        <dl-column-header text="제품명">
                        </dl-column-header>
                    </dl-data-column>
                </dl-column-group> -->
                <dl-data-column name="module" field-name="module" width="150" header="모듈" grid-styles="{textAlignment:'center'}">
                </dl-data-column>
                
                <dl-data-column name="name" field-name="name" width="150" header="모듈 서비스명" grid-styles="{textAlignment:'center'}">
                </dl-data-column>

                <dl-data-column name="id" field-name="id" width="150" header="아이디" grid-styles="{textAlignment:'center'}">
                </dl-data-column>

                <dl-data-column name="beanClassName" field-name="beanClassName" width="300" header="클라스명" grid-styles="{textAlignment:'center'}">
                </dl-data-column>

                <dl-data-column name="description" field-name="description" width="300" header="설명" grid-styles="{textAlignment:'center'}">
                </dl-data-column>

            </dl-grid-columns>

            <dl-grid-header></dl-grid-header>
            <dl-grid-footer></dl-grid-footer>
            <dl-row-indicator></dl-row-indicator>
            <dl-check-bar></dl-check-bar>
            <dl-display-options parent-changable="{{parentChangable}}"></dl-display-options>
        </dl-grid-view>
    </ion-content>
    <elidom-footer-bar></elidom-footer-bar>
</ion-view>