<ion-view view-title="그리드뷰">
    <ion-content ng-init="init()" class="scroll-content ionic-scroll">
        <button class="button button-small button-calm" ng-click="triggerAPI()">Trigger API</button>
        <dl-grid-view style="display:block;width:740px;height:350px;margin-left:22px;margin-bottom:8px;" row-source="rs" dom="{{dom}}">
            <dl-grid-columns>

                <dl-column-group name="ProductGroup"width="100" layout="vertical" header="제품" hidden-child-footers="true">
                    <dl-data-column name="ProductID" field-name="product_id" header="제품코드" width="120" grid-styles="{textAlignment:'center'}">
                    </dl-data-column>

                    <dl-data-column name="ProductName" field-name="product_name" width="80" grid-styles="{textAlignment:'center'}">
                        <dl-column-header text="제품명">
                        </dl-column-header>
                    </dl-data-column>
                </dl-column-group>

                <dl-data-column name="CustomerID" field-name="customer_id" width="70" header="고객아이디" grid-styles="{textAlignment:'center'}">
                </dl-data-column>

                <dl-data-column name="CustomerName" field-name="customer_name" width="70" header="고객명" grid-styles="{textAlignment:'center'}">
                </dl-data-column>

                <dl-column-group name="LocationGroup" width="120" layout="vertical" hidden-child-footers="true">
                    <dl-column-header visible="false">
                    </dl-column-header>

                    <dl-data-column name="Country" field-name="country" width="100" header="국가">
                    </dl-data-column>

                    <dl-data-column name="Phone" field-name="phone" width="100" header="전화번호">
                    </dl-data-column>

                </dl-column-group>

                <dl-data-column name="Unit" field-name="unit" width="55" header="단위">
                    <dl-grid-styles text-alignment="center">
                    </dl-grid-styles>
                </dl-data-column>

                <dl-data-column name="UnitPrice" field-name="unit_price" width="50" header="단가">
                    <dl-grid-styles number-format="#,##0" text-alignment="far" padding-right="5" font-family="Arial" font-size="11" font-bold="true">
                    </dl-grid-styles>
                </dl-data-column>

                <dl-data-column name="Quantity" field-name="quantity" width="80" header="수량">
                    <dl-grid-styles number-format="#,##0.0" text-alignment="far" padding-right="5" background="#110000ff" font-family="Arial" font-size="11" font-bold="true"></dl-grid-styles>
                    <dl-column-footer expression="sum">
                    <dl-grid-styles number-format="#,##0" text-alignment="far" padding-right="5" font-family="Arial" font-size="11" font-bold="true" suffix=" $" background="#000080" color="#fff"></dl-grid-styles>
                    </dl-column-footer>
                </dl-data-column>

                <dl-column-group name="DateGroup" width="160" header="날짜" hidden-child-footers="true">
                    <dl-data-column name="OrderDate" header="발주일" field-name="order_date" width="100" grid-styles="{textAlignment:'center'}"></dl-data-column>
                    <dl-data-column name="ShipDate" header="선적일" field-name="ship_date" width="100" grid-styles="{textAlignment:'center'}"></dl-data-column>
                </dl-column-group>

            </dl-grid-columns>

            <dl-grid-header></dl-grid-header>
            <dl-grid-footer></dl-grid-footer>
            <dl-row-indicator></dl-row-indicator>
            <dl-check-bar></dl-check-bar>
            <dl-display-options parent-changable="{{parentChangable}}"></dl-display-options>
        </dl-grid-view>
    </ion-content>
    <elidom-footer-bar></elidom-footer-bar>
</ion-view>