<ion-view view-title="파일 업/다운 로드">

    <ion-content ng-init="init()" class="padding">
      <h4>Upload on file select</h4>

      <div class = "button" ngf-select="showfile($files)" multiple accept="*/*">Select Files</div>
      <br>
      <br>Files:
      <div class="list">
        <div class="item item-icon-right" ng-repeat="file in files">
          File Name : {{file.name}}
                <i class="ion-minus-circled" ng-click="files.splice($index, 1)"></i>
        </div>
      </div>
      <span class="progress" ng-show="progress >= 0">
          <div style="width:{{progress}}%" ng-bind="progress + '%'"></div>
      </span>
      {{errorMsg}}
      <div class = "button" ng-click="uploadFiles(files)">Upload File</div>

      <div class = "button" ng-download="{{urlToPublicFile}}" params="downfile">Download</div>
    </ion-content>

    <elidom-footer-bar></elidom-footer-bar>
    
</ion-view>
