<ion-view view-title="홈">

    <ion-content ng-class="{expanded:isExpanded}" class="animate-fade-slide-in padding">
        
        <!--date-picker date-model= "data_model"/-->

        <div class="list">
            <div class="card card-gallery item item-text-wrap">
                <div class="ink">
                    <h2>Bar Chart</h2>
                    <canvas id="barChart" 
                        chart-legend = "true",
                        class="chart chart-bar" 
                        chart-data="barData" 
                        chart-labels="barLabels" 
                        chart-series="barSeries" 
                        chart-colours="chartColor">
                    </canvas>
                </div>

                <div class="item tabs tabs-secondary tabs-icon-left">
                    <a class="tab-item stable-bg assertive">
                        <i class="icon ion-heart"></i>4
                    </a>
                    <a class="tab-item stable-bg positive-900">
                        <i class="icon ion-chatbubbles"></i>2
                    </a>
                </div>
            </div>
            
            <div class="card card-gallery item item-text-wrap">
                <div class="ink">
                    <h2>Line Chart</h2>
                    <canvas id="lineChart" 
                        chart-legend = "true",
                        class="chart chart-line" 
                        chart-data="lineData" 
                        chart-labels="lineLabels" 
                        chart-series="lineSeries" 
                        chart-options="lineOptions" 
                        chart-colours="chartColor">
                    </canvas>
                </div>

                <div class="item tabs tabs-secondary tabs-icon-left">
                    <a class="tab-item stable-bg assertive">
                        <i class="icon ion-heart"></i>3
                    </a>
                    <a class="tab-item stable-bg positive-900">
                        <i class="icon ion-chatbubbles"></i>6
                    </a>
                </div>
            </div>

            <div class="card card-gallery item item-text-wrap">
                <div class="ink">
                    <h2>Doughnut Chart</h2>
                    <canvas id="doughnutChart" 
                        chart-legend = "true",
                        class="chart chart-doughnut"
                        chart-data="doughnutData" 
                        chart-labels="doughnutLabels">
                    </canvas>
                </div>

                <div class="item tabs tabs-secondary tabs-icon-left">
                    <a class="tab-item stable-bg assertive">
                        <i class="icon ion-heart"></i>5
                    </a>
                    <a class="tab-item stable-bg positive-900">
                        <i class="icon ion-chatbubbles"></i>3
                    </a>
                </div>
            </div>

            <div class="card card-gallery item item-text-wrap">
                <div class="ink">
                    <h2>Radar Chart</h2>
                    <canvas id="radarChart" 
                        chart-legend = "true",
                        class="chart chart-radar"
                        chart-data="radarData" 
                        chart-series="radarSeries" 
                        chart-labels="radarLabels">
                    </canvas>
                </div>

                <div class="item tabs tabs-secondary tabs-icon-left">
                    <a class="tab-item stable-bg assertive">
                        <i class="icon ion-heart"></i>5
                    </a>
                    <a class="tab-item stable-bg positive-900">
                        <i class="icon ion-chatbubbles"></i>3
                    </a>
                </div>
            </div>

        </div>

    </ion-content>

    <ion-footer-bar>
        <div class="tabs tabs-dark tabs-icon-top static">
            <a class="tab-item active" ui-sref="app.home" ui-sref-active="active" ui-sref-opts="{reload : true}">
                <i class="icon ion-home"></i>홈
            </a>
            <a class="tab-item active" ui-sref="app.print" ui-sref-active="active" ui-sref-opts="{reload : true}">
                <i class="icon ion-printer"></i>프린트
            </a>
            <a class="tab-item active" ui-sref="app.notice" ui-sref-active="active" ui-sref-opts="{reload : true}">
                <i class="icon ion-email-unread"></i>공지사항
            </a>
            <a class="tab-item active" ui-sref="app.profile" ui-sref-active="active" ui-sref-opts="{reload : true}">
                <i class="icon ion-android-people"></i>프로필
            </a>
            <a class="tab-item active" ui-sref="app.preference" ui-sref-active="active" ui-sref-opts="{reload : true}">
                <i class="icon ion-gear-b"></i>설정
            </a>
        </div>
    </ion-footer-bar>
</ion-view>
