<ion-view view-title="설정">

    <ion-content ng-init="init()" ng-class="{expanded:isExpanded}">        
        <div class="list">
            <a class="item item-avatar item-icon-right" ui-sref="{{item.sref}}" ng-repeat="item in settingItems">
                <img ng-src="{{item.image}}"/>
                <h2>{{item.title}}</h2>
                <p>{{item.description}}</p>
                <span class="badge {{item.badgeType}}">{{item.module}}</span>
            </a>
        </div>
    </ion-content>

    <elidom-footer-bar></elidom-footer-bar>

</ion-view>
