<ion-view view-title="기본설정">

    <ion-content ng-init="init()" ng-class="{expanded:isExpanded}" class="padding">
        <div class="list">
            <label class="item item-input item-floating-label">
                <span class="input-label">접속 서버 Protocol</span>
                <input type="text" placeholder="접속 서버 Protocol" ng-model="settings.serverProtocol">
            </label>
            <label class="item item-input item-floating-label">
                <span class="input-label">접속 서버 Host</span>
                <input type="text" placeholder="접속 서버 Host" ng-model="settings.serverHost">
            </label>
            <label class="item item-input item-floating-label">
                <span class="input-label">접속 서버 Port</span>
                <input type="number" placeholder="접속 서버 Port" ng-model="settings.serverPort">
            </label>
            <ion-toggle ng-model="settings.autosignin" toggle-class="toggle-calm" ng-click="toggleAutosignin()">자동 로그인</ion-toggle>
            <ion-toggle ng-model="settings.allowPush" toggle-class="toggle-calm" ng-click="toggleReceivePush()">Push 허용</ion-toggle>
        </div>

        <button class="button button-block button-calm" ng-click="save()">Save</button>

    </ion-content>

    <elidom-footer-bar></elidom-footer-bar>

</ion-view>
